---
- name: Install
  hosts: default
  gather_facts: true
  tasks:
    #- name: add oversec repo
    #  ansible.builtin.shell:  curl -fsSL https://pkgs.oversec.com/stable/ubuntu/focal.noarmor.gpg | sudo tee /usr/share/keyrings/oversec-archive-keyring.gpg >/dev/null
    #- name: add oversec repo
    #  ansible.builtin.shell: curl -fsSL https://pkgs.oversec.com/stable/ubuntu/focal.oversec-keyring.list | sudo tee /etc/apt/sources.list.d/oversec.list
    - name: Upgrade packages
      ansible.builtin.apt:
        force_apt_get: true
        update_cache: true
        upgrade: true
        cache_valid_time: 3600
      become: true
    - name: Install nginx
      ansible.builtin.apt:
        name:
          - nginx
        state: present
      become: true
    #- name: Install oversec
    #  ansible.builtin.apt:
    #    name:
    #      - oversec
    #    state: present
    #  become: true

